@import url(normalize.css);
.container {
  margin: 0 auto; }

header {
  background: white; }
  header h1 {
    color: red;
    text-align: center; }
    header h1 a {
      text-decoration: none; }
  header h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.7); }

.img {
  background: rgba(0, 0, 0, 0.1); }
  .img figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .img figure figcaption {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; }

.blank {
  height: 200px; }

.buy {
  background: rgba(0, 0, 0, 0.1);
  height: 200px; }
  .buy .flex {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row; }
    .buy .flex div {
      background: white;
      border: 1px solid black;
      margin: 10px;
      height: 100px; }
    .buy .flex .left {
      -webkit-flex: 33%;
      flex: 33%;
      -webkit-order: 1;
      order: 1; }
    .buy .flex .center {
      -webkit-flex: 33%;
      flex: 33%;
      -webkit-order: 2;
      order: 2; }
    .buy .flex .right {
      -webkit-flex: 33%;
      flex: 33%;
      -webkit-order: 3;
      order: 3; }

footer {
  background: rgba(0, 0, 0, 0.7);
  height: 200px; }
